#dashboard {
  .build {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 30px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px grey solid;
    a{
      text-decoration: none;
      color: white;
    }

    .build_time{
      margin: 5px 0 15px 5px;
      float: right;
      font-style: italic;
      font-size: 80%;
    }

    .project_name{
      float: left;
      margin-right: 15px;
    }

    &.success{
      color: white;
      background: green;
    }
    &.failure{
      color: white;
      background: red;
    }
    &.exception{
      color: white;
      background: black;
    }
  }

}
